src/Source/WebSite/run/System.Web.WebPages.xml
src/Source/WebSite/run/System.Web.WebPages.Razor.xml
src/Source/WebSite/run/System.Web.WebPages.Deployment.xml
src/Source/WebSite/run/System.Web.Razor.xml
src/Source/WebSite/run/System.Web.Providers.xml
src/Source/WebSite/run/System.Web.Optimization.xml
src/Source/WebSite/run/System.Web.Helpers.xml
src/Source/WebSite/run/System.IdentityModel.Tokens.Jwt.xml
src/Source/WebSite/run/SnAdminRuntime.exe.config
src/Source/WebSite/run/SenseNet.Tools.xml
src/Source/WebSite/run/SenseNet.TaskManagement.Core.xml
src/Source/WebSite/run/SenseNet.Security.xml
src/Source/WebSite/run/SenseNet.Security.Messaging.Msmq.xml
src/Source/WebSite/run/SenseNet.Security.EF6SecurityStore.xml
src/Source/WebSite/run/Project.dll.config
src/Source/WebSite/run/Newtonsoft.Json.xml
src/Source/WebSite/run/Microsoft.Practices.EnterpriseLibrary.Logging.xml
src/Source/WebSite/run/Microsoft.Practices.EnterpriseLibrary.Logging.Database.xml
src/Source/WebSite/run/Microsoft.Practices.EnterpriseLibrary.Data.xml
src/Source/WebSite/run/Microsoft.Practices.EnterpriseLibrary.Common.xml
src/Source/WebSite/run/Microsoft.Owin.xml
src/Source/WebSite/run/Microsoft.Owin.Security.xml
src/Source/WebSite/run/Microsoft.Owin.Security.Twitter.xml
src/Source/WebSite/run/Microsoft.Owin.Security.OAuth.xml
src/Source/WebSite/run/Microsoft.Owin.Security.MicrosoftAccount.xml
src/Source/WebSite/run/Microsoft.Owin.Security.Google.xml
src/Source/WebSite/run/Microsoft.Owin.Security.Facebook.xml
src/Source/WebSite/run/Microsoft.Owin.Security.Cookies.xml
src/Source/WebSite/run/Microsoft.Owin.Host.SystemWeb.xml
src/Source/WebSite/run/Microsoft.IdentityModel.Tokens.xml
src/Source/WebSite/run/Microsoft.IdentityModel.Logging.xml
src/Source/WebSite/run/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
src/Source/WebSite/run/Microsoft.AspNet.Identity.Owin.xml
src/Source/WebSite/run/Microsoft.AspNet.Identity.EntityFramework.xml
src/Source/WebSite/run/Microsoft.AspNet.Identity.Core.xml
src/Source/WebSite/run/Microsoft.AspNet.FriendlyUrls.xml
src/Source/WebSite/run/Microsoft.ApplicationInsights.xml
src/Source/WebSite/run/Microsoft.AI.WindowsServer.xml
src/Source/WebSite/run/Microsoft.AI.Web.xml
src/Source/WebSite/run/Microsoft.AI.ServerTelemetryChannel.xml
src/Source/WebSite/run/Microsoft.AI.DependencyCollector.xml
src/Source/WebSite/run/Lucene.Net.xml
src/Source/WebSite/run/EntityFramework.xml
src/Source/WebSite/run/EntityFramework.SqlServer.xml
src/Source/WebSite/run/.gitignore
src/Source/WebSite/obj/Debug/WebSite.csproj.FileListAbsolute.txt
src/Source/WebSite/obj/Debug/WebSite.csproj.CopyComplete
src/Source/WebSite/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/Source/WebSite/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/Source/WebSite/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/Source/WebSite/bin/roslyn/vbc.exe.config
src/Source/WebSite/bin/roslyn/csi.exe.config
src/Source/WebSite/bin/roslyn/csc.exe.config
src/Source/WebSite/bin/roslyn/VBCSCompiler.exe.config
src/Source/WebSite/bin/roslyn/Microsoft.VisualBasic.Core.targets
src/Source/WebSite/bin/roslyn/Microsoft.CSharp.Core.targets
src/Source/WebSite/bin/System.Web.WebPages.xml
src/Source/WebSite/bin/System.Web.WebPages.Razor.xml
src/Source/WebSite/bin/System.Web.WebPages.Deployment.xml
src/Source/WebSite/bin/System.Web.Razor.xml
src/Source/WebSite/bin/System.Web.Providers.xml
src/Source/WebSite/bin/System.Web.Optimization.xml
src/Source/WebSite/bin/System.Web.Helpers.xml
src/Source/WebSite/bin/System.IdentityModel.Tokens.Jwt.xml
src/Source/WebSite/bin/SenseNet.Tools.xml
src/Source/WebSite/bin/SenseNet.TaskManagement.Core.xml
src/Source/WebSite/bin/SenseNet.Security.xml
src/Source/WebSite/bin/SenseNet.Security.Messaging.Msmq.xml
src/Source/WebSite/bin/SenseNet.Security.EF6SecurityStore.xml
src/Source/WebSite/bin/Project.dll.config
src/Source/WebSite/bin/Newtonsoft.Json.xml
src/Source/WebSite/bin/Microsoft.Practices.EnterpriseLibrary.Logging.xml
src/Source/WebSite/bin/Microsoft.Practices.EnterpriseLibrary.Logging.Database.xml
src/Source/WebSite/bin/Microsoft.Practices.EnterpriseLibrary.Data.xml
src/Source/WebSite/bin/Microsoft.Practices.EnterpriseLibrary.Common.xml
src/Source/WebSite/bin/Microsoft.Owin.xml
src/Source/WebSite/bin/Microsoft.Owin.Security.xml
src/Source/WebSite/bin/Microsoft.Owin.Security.Twitter.xml
src/Source/WebSite/bin/Microsoft.Owin.Security.OAuth.xml
src/Source/WebSite/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
src/Source/WebSite/bin/Microsoft.Owin.Security.Google.xml
src/Source/WebSite/bin/Microsoft.Owin.Security.Facebook.xml
src/Source/WebSite/bin/Microsoft.Owin.Security.Cookies.xml
src/Source/WebSite/bin/Microsoft.Owin.Host.SystemWeb.xml
src/Source/WebSite/bin/Microsoft.IdentityModel.Tokens.xml
src/Source/WebSite/bin/Microsoft.IdentityModel.Logging.xml
src/Source/WebSite/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
src/Source/WebSite/bin/Microsoft.AspNet.Identity.Owin.xml
src/Source/WebSite/bin/Microsoft.AspNet.Identity.EntityFramework.xml
src/Source/WebSite/bin/Microsoft.AspNet.Identity.Core.xml
src/Source/WebSite/bin/Microsoft.AspNet.FriendlyUrls.xml
src/Source/WebSite/bin/Microsoft.ApplicationInsights.xml
src/Source/WebSite/bin/Microsoft.AI.WindowsServer.xml
src/Source/WebSite/bin/Microsoft.AI.Web.xml
src/Source/WebSite/bin/Microsoft.AI.ServerTelemetryChannel.xml
src/Source/WebSite/bin/Microsoft.AI.DependencyCollector.xml
src/Source/WebSite/bin/Lucene.Net.xml
src/Source/WebSite/bin/EntityFramework.xml
src/Source/WebSite/bin/EntityFramework.SqlServer.xml
src/Source/WebSite/bin/.gitignore
src/Source/WebSite/App_Data/LuceneIndex/0/segments_61
src/Source/WebSite/App_Data/LuceneIndex/0/segments.gen
src/Source/WebSite/App_Data/LuceneIndex/0/_80.cfs
src/Source/WebSite/App_Data/LuceneIndex/0/_7z_1.del
src/Source/WebSite/App_Data/LuceneIndex/0/_7z.cfs
src/Source/WebSite/App_Data/LuceneIndex/0/_7y_3.del
src/Source/WebSite/App_Data/LuceneIndex/0/_7y.cfs
src/Source/WebSite/App_Data/LuceneIndex/0/_7x_2.del
src/Source/WebSite/App_Data/LuceneIndex/0/_7x.tis
src/Source/WebSite/App_Data/LuceneIndex/0/_7x.tii
src/Source/WebSite/App_Data/LuceneIndex/0/_7x.prx
src/Source/WebSite/App_Data/LuceneIndex/0/_7x.nrm
src/Source/WebSite/App_Data/LuceneIndex/0/_7x.frq
src/Source/WebSite/App_Data/LuceneIndex/0/_7x.fnm
src/Source/WebSite/App_Data/LuceneIndex/0/_7x.fdx
src/Source/WebSite/App_Data/LuceneIndex/0/_7x.fdt
src/Source/WebSite/App_Data/LuceneIndex/0/RestoreInfo.xml
src/Source/WebSite/App_Data/.gitignore
src/Source/WebSite/Admin/run/System.Web.WebPages.xml
src/Source/WebSite/Admin/run/System.Web.WebPages.Razor.xml
src/Source/WebSite/Admin/run/System.Web.WebPages.Deployment.xml
src/Source/WebSite/Admin/run/System.Web.Razor.xml
src/Source/WebSite/Admin/run/System.Web.Providers.xml
src/Source/WebSite/Admin/run/System.Web.Optimization.xml
src/Source/WebSite/Admin/run/System.Web.Helpers.xml
src/Source/WebSite/Admin/run/System.IdentityModel.Tokens.Jwt.xml
src/Source/WebSite/Admin/run/SnAdminRuntime.exe.config
src/Source/WebSite/Admin/run/SenseNet.Tools.xml
src/Source/WebSite/Admin/run/SenseNet.TaskManagement.Core.xml
src/Source/WebSite/Admin/run/SenseNet.Security.xml
src/Source/WebSite/Admin/run/SenseNet.Security.Messaging.Msmq.xml
src/Source/WebSite/Admin/run/SenseNet.Security.EF6SecurityStore.xml
src/Source/WebSite/Admin/run/Project.dll.config
src/Source/WebSite/Admin/run/Newtonsoft.Json.xml
src/Source/WebSite/Admin/run/Microsoft.Practices.EnterpriseLibrary.Logging.xml
src/Source/WebSite/Admin/run/Microsoft.Practices.EnterpriseLibrary.Logging.Database.xml
src/Source/WebSite/Admin/run/Microsoft.Practices.EnterpriseLibrary.Data.xml
src/Source/WebSite/Admin/run/Microsoft.Practices.EnterpriseLibrary.Common.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.Security.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.Security.Twitter.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.Security.OAuth.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.Security.MicrosoftAccount.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.Security.Google.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.Security.Facebook.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.Security.Cookies.xml
src/Source/WebSite/Admin/run/Microsoft.Owin.Host.SystemWeb.xml
src/Source/WebSite/Admin/run/Microsoft.IdentityModel.Tokens.xml
src/Source/WebSite/Admin/run/Microsoft.IdentityModel.Logging.xml
src/Source/WebSite/Admin/run/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
src/Source/WebSite/Admin/run/Microsoft.AspNet.Identity.Owin.xml
src/Source/WebSite/Admin/run/Microsoft.AspNet.Identity.EntityFramework.xml
src/Source/WebSite/Admin/run/Microsoft.AspNet.Identity.Core.xml
src/Source/WebSite/Admin/run/Microsoft.AspNet.FriendlyUrls.xml
src/Source/WebSite/Admin/run/Microsoft.ApplicationInsights.xml
src/Source/WebSite/Admin/run/Microsoft.AI.WindowsServer.xml
src/Source/WebSite/Admin/run/Microsoft.AI.Web.xml
src/Source/WebSite/Admin/run/Microsoft.AI.ServerTelemetryChannel.xml
src/Source/WebSite/Admin/run/Microsoft.AI.DependencyCollector.xml
src/Source/WebSite/Admin/run/Lucene.Net.xml
src/Source/WebSite/Admin/run/EntityFramework.xml
src/Source/WebSite/Admin/run/EntityFramework.SqlServer.xml
src/Source/WebSite/Admin/run/.gitignore
src/Source/WebSite/Admin/log
src/Source/WebSite/Admin/App_Data
src/Deployment/Tools/CTT/ctt.exe.config
src/Deployment/Tools/7zip/license.txt
src/Deployment/Tools/7zip/history.txt
src/Deployment/Scripts/test.json
