src/Source/
src/Deployment/Tools/CTT/ctt.exe.config
src/Deployment/Tools/7zip/license.txt
src/Deployment/Tools/7zip/history.txt
src/Deployment/Scripts/test.json
src/WebSitWithServices/
src/WebSitWithWebpages/
src/WebSite/
test*
.vs/
src/deploytest/
src/Deployment/temp/
