@font-face {
    font-family: "Gotham Light";
    src: url('./fonts/gotham-light.woff2'); /* IE9 Compat Modes */
    src: url('./fonts/gotham-light.woff2') format('woff2') /* Super Modern Browsers */
}

body{
    /* background-image: url("../img/background_v21.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background: -moz-linear-gradient(45deg, rgba(56,255,202,1) 0%, rgba(0,128,128,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(56,255,202,1)), color-stop(100%, rgba(0,128,128,1))); 
    background: -webkit-linear-gradient(45deg, rgba(56,255,202,1) 0%, rgba(0,128,128,1) 100%); 
    background: -o-linear-gradient(45deg, rgba(56,255,202,1) 0%, rgba(0,128,128,1) 100%); 
    background: -ms-linear-gradient(45deg, rgba(56,255,202,1) 0%, rgba(0,128,128,1) 100%); 
    background: linear-gradient(45deg, rgba(56,255,202,1) 0%, rgba(0,128,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#38FFCA',GradientType=1 );
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Gotham Light', sans-serif;
}

.maincontainer{
    margin-top: 40px;
}

h1{
    color: white;
}

.hidden{
    display: none;
}

.successProcess{
    font-size: 20px;
    color: #5bb85c;
}

.errorProcess{
    font-size: 20px;
    color: #ee0909;
}

.progressProcess{
    font-size: 20px;
    color: #ece4e4cc;
}

.stopBtn{
    color: #fff;
    background-color: #2a8fad;
    border-color: #46b8da;
}

.fullwidth {
    width: 100%;
}

div.mainmenu div{
    border-right: 1px solid rgba(0, 0, 0, 0.19);
    background-color: rgba(1,1,1,0.3);
    cursor: pointer;
}

.tabitem{
    color:white;
}

.margintop30{
    margin-top: 30px;
}

/* Overwrite bootstrap  */
.nav{
    background-color: rgb(9, 149, 140);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #21cbab;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #27d8b3;
}

.nav-tabs>li>a{
    border-radius: 0;
    color: white;
}

.list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #fff;
}

.tab-content>.tab-pane {
    margin-bottom: 50px;
}

.SN-ModalContent{
    background-color: rgb(37, 150, 136);
    color: white;
    border-radius: 0;
}

.noBorderRadius{
    border-radius: 0;
}

.RunBTN{
    background-color: rgb(100, 169, 123);
    border-color: rgba(53, 125, 39, 0.95);
    color: white;
    border-radius: 0;
    
}

.RunBTN:hover{
    background-color: rgb(82, 190, 20);
}

div.toggle{
    border-radius: 0;
}

.ladda-button[data-style=contract]{
    width: 45px;
}

#editor{
    height: 570px;
}